/* Styles généraux */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header-divider {
  border: 1px solid #e0e0e0;
  width: 50%;
  margin: 0 auto;
}

.add-task-button {
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-task-button:hover {
  background-color: #357abd;
}

/* Tableau et colonnes */
.board {
  /*background:#f0f2f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  */
}


.board .column{
  background:#f0f2f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
  padding: 15px;
}
.column section {
  background: #f0f2f5;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

/* Cartes de tâches */
.task-card {
  border: none;
  min-height: 80px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: grab;
}

.task-card.dragging {
  transform: rotate(3deg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.task-text {
  font-size: 14px;
  color: #333;
  margin-bottom: 0;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  color: #666;
  background: none;
  border: none;
  z-index: 1; /* Assure que le bouton est au-dessus des autres éléments */
  opacity: 0; /* Masqué par défaut */
  transition: opacity 0.2s ease; /* Transition fluide */
}

.task-card:hover .delete-button {
  opacity: 1; /* Visible au survol */
}

.delete-button:hover {
  color: #ff4d4d;
}

/* Styles pour le titre de la tâche */
.task-title {
  cursor: pointer;
  margin-bottom: 0;
}

.task-title.has-text {
  text-decoration: underline;
  color: #4a90e2;
}

.task-title.has-text:hover {
  color: #357abd;
}

/* Styles pour la popin */
.modal-notion {
  max-width: 500px;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  border-bottom: 1px solid #e0e0e0;
}

.modal-title {
  font-size: 18px;
  color: #333;
}

.modal-body {
  font-size: 14px;
  color: #555;
}

.modal-footer {
  border-top: 1px solid #e0e0e0;
}

/* Styles pour le drag & drop */
.task-list {
  min-height: 100px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.task-list.dropping {
  background-color: #f8f9fa;
}







